@media (min-width: 1150px){
    :root{
    --font-size-bg: 4rem;
    --font-size-nr: 1.2rem;
    --font-size-sm: 1rem;
    --font-size-smlr: .875rem;
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
}


}


@media (max-width:450px){
    .section-title h2{
        font-size: var(--font-size-m);
    }
    .career-article p{
        padding: 1rem;
    }
    .career-container h1{
        padding: 3rem 2rem .5rem;
    }
}

@media (max-width:1150px){
    .toggler{
        display: flex;
    }
    .navlinks{
        display: none;
    }
}


@media (min-width:600px){
    .container-info{
        width: 50%;
    }
    .studies-container{
        grid-template-columns: repeat(2, 1fr);
    }
}  

@media (min-width:650px){
   
    .card{
        flex: 0 0 100%;
        max-width: 75%;
        padding: 1.5rem 2.5rem 3rem;
    }
    .boxes-row{
    grid-template-columns: repeat(2, 50%);
    column-gap: .5rem;
}
    .row2{
        grid-template-columns: repeat(2, 1fr);
    }
    .career-img-container{
        width: 100%;
        height: 35rem;
    }
    .info-item{
        flex: 0 0 50%;
        max-width: 50%;
        height: 17rem;
    }
    .footer-info{
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
    .footer-row{
        grid-template-columns: repeat(2, max-content);
    }
}
@media (min-width:800px){
.row{
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}


#management .row{
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
}

.over-lay h1{
    font-size: var(--font-size-bg);
}
.over-lay-content span{
    font-size: var(--h2-size);
}
.life-here-content a{
    font-size: var(--h3-size);
}
.career-img-container{
    width: 100%;
    height: 40rem;
}
.footer-row1{
    grid-template-columns: repeat(2, 1fr);
}
.footer-info{
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

}
@media (min-width:960px){
.hero-container{
    height: 87vh;
}
.layer{
    height: 87vh;
}
.animation{
    height: 87vh;
}
.animation img{
    height: 87vh;
}

#careers .hero-section{
    height: 87vh;
}
#careers .background{
    height:87vh;
}
#careers .background img{
    height:87vh;
}
#careers .overlay{
    height:87vh;
}

.info-item{
    flex: 0 0 33%;
    max-width: 32%;
}
.info2-image{
    flex: 0 0 50%;
    max-width: 50%;
}
.info2-article{
    flex: 0 0 50%;
    max-width: 47%;
}
.mission-article{
    flex: 0 0 33%;
    max-width: 33%;
    padding: 5rem 1.5rem;
}
.mission-article img{
    height: 120%;
    width: 100%;
}
.card{
    flex: 0 0 30%;
    max-width: 30%;
    padding: 1.5rem 1.5rem 3rem;
    height: 27rem;
}
.slider{
    max-width:47%;
}
.row2{
    grid-template-columns: repeat(4, 1fr);
}
.career-img-container{
    width: 100%;
    height: 45rem;
}
.footer-logo{
    margin-left: .5rem;
}
.footer-row{
    grid-template-columns: repeat(2, 1fr);
}
.services-button a{
    width: 11rem;
}
.testimonial-img img{
    zoom: 1.25;
}
.studies-container{
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}
.studies-box{
    width: 95%;
}
}

@media (min-width:1200px){
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    padd-3{
        padding: 0;
    }
    .container2{
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width:1800px){
  .container, .container2{
      zoom: 1.4;
  }
}
@media (min-width:2400px){
    .container, .container2{
        zoom: 1.8;
    }
  }
  @media (min-width:3840px){
    .container, .container2{
        zoom: 2.5;
    }
  }