@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Merriweather:wght@400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
:root{
    --bg-black-900:#434343;
    --bg-black-200:#e5e5e5;
    --bg-black-100:#fff;
    --skin-color:linear-gradient(to right, #f707e3, #fd5098, #ff8164);  
    --skin-color2:linear-gradient(to left, #f70743, #fd5098, #ff8164);  
    --txt-black-900:#000;
    --txt-black-100:#434343;
    --txt-black-700:#fff;
    --txt-black-500:rgba(235, 231, 231, 0.945);
    --back-black-100:-webkit-linear-gradient(to right, #f707e3, #fd5098, #ff8164);
   --back-black-500:linear-gradient(to right, #f707e3, #fd5098, #ff8164);
   --back-black-900:#fd1d1d;
 }
 body{
     line-height: 1.5;
     font-size: 16px;
     font-family: 'Poppins', sans-serif ;
 }
 *{
     margin: 0;
     padding: 0;
     outline: none;
     text-decoration: none;
     box-sizing: border-box;
 }
 ::before, ::after
 {
     box-sizing: border-box;
 }

.section{
    min-height: 100vh;
    display: block;
    opacity: 0;
    transition: all 0.3s ease;
    position: fixed;
    z-index: 0;
    left:0;
    top: 0;
    right:0;
    bottom:0;
    overflow-y: auto;
    overflow-x: hidden;
} 
.cont{
    padding: 0 5em;
}
.cont2{
    padding: 7em 3em;
}
.section.active{
    z-index: 2;
    opacity: 1;
    padding-top:11em;
}

.padd-5{
     padding: 0 4em 0 3em;
 }
.padd-3{
    padding: 0 0 0 3em ;
}
.padd-2{
    padding: 0 1.5em;
}
.padd-0{
    padding: 0 3em 0 0;
}
.padd-10{
    padding: 0 3em 0 5em;
}
.padd-11{
    padding: 0 2em 0 5em;
}




.main-container{
    background-color: var(--bg-black-100);
    color: var(--txt-black-900);
}
.navigation{
    position: fixed;
    background-color: var(--bg-black-100);
    height: 100px;
    width: 100%;
    box-shadow: 2px 3px 2px 4px rgba(192, 189, 189, 0.966);
    z-index: 10;
    transition: all .3s ease;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100px;
    align-items: center;
    padding: 0 1.5em 0 3em;
    font-size: 19px;
    font-weight: 600;
    z-index: 10;
}
.logo img{
    width: 220px;
    height: 130px;
    margin-right: 100%;
}
.navlinks{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}
.links a{
    color: var(--txt-black-100);
}
.links a:hover{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.navlinks li a.active{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }

.toggler{
    height: 1.75em;
    width: 1.75em;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--txt-black-900);
    cursor: pointer;
    display: none;
}
.toggler i{
    font-size: 28px;
    color: #000;
}
.toggler i:hover{
    font-size: 28px;
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.dd-menu{
    background-color: var(--bg-black-900);
    display: none;
    position: absolute;
    max-width:100%;
    top:90px;
    right: 17.75em;
    opacity: 1;
    z-index:0;
    transition: all .5s ease;
    animation: slidedown .35s ease;
    text-align: center;
}
.dd-menu::before{
 content: "";
 position: absolute;
 top:-24px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 1;
 border: 12px solid;
 border-color: transparent transparent var(--bg-black-900) transparent;
}
@keyframes slidedown
{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%) ;
   }
}
.dd-menu.a{
    background-color: var(--bg-black-900);
    display: none;
    position: absolute;
    max-width:100%;
    top:80px;
    right: 9em;
    opacity: 1;
    z-index:0;
    transition: all .5s ease;
    animation: slidedown .35s ease;
}
@keyframes slidedown
{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%) ;
   }
}
.dd-menu ul{
    list-style-type: none;
}
.dd-menu.a ul{
    list-style-type: none;
}
.menu-link{
    padding: .25em;
    color: var(--txt-black-700);
}
.dd-menu .menu-link a{
    font-size: 12px;
    color: var(--txt-black-700);
}
.links a.a_parent.drop + .dd-menu{
    display: block;
}


.aside{
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    display:none;
    background: var(--bg-black-900);
    width: 17em;
    opacity: 2;
    color: var(--txt-black-700);
}
.aside.open{
    right: 0px;
    display: block;
    z-index: 3;
}
.aside .menu-link{
    padding: .5em 1em;  
}
.aside .menu-link a{
    font-size: 12px;
    font-weight: 400;
    color: var(--txt-black-700);
}
.toggle-link{
    padding: .5em 1em;
}
.toggle-link a{
    font-size: 12px;
    font-weight: 400;
    color: var(--txt-black-700);
}
.toggle-link a:hover{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.toggle-link a.active{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.toggle-link:first-child{
    padding-top: 7.5em;
}
.toggle-link a.a_parent.drop + .dd-menu{
    display: block;
}


.dd-menu.As{
    background-color: var(--bg-black-700);
    display: none;
    position: relative;
    max-width:100%;
    top:0px;
    right:0;
    opacity: 1;
    z-index:0;
    transition: all .5s ease;
    animation: slidedown .35s ease;
    text-align: left;
}
@keyframes slidedown
{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%) ;
   }
}
.dd-menu.As ul{
    list-style-type: none;
}
.dd-menu.As .menu-link{
    padding: .15em 0;
}
.dd-menu.As .menu-link a{
    font-size: 10px;
}


 /*   hero section*/
.hero-section{
  position: relative;
  top: -4.25em;
  left:0;
  right: 0;
  width: 100%;
  height: 35em;
  overflow: hidden;
}
.animation{
    width: 100%;
    height: 35em;
    position: absolute;
}
.animation img{
    width: 100%;
    height: 100%;
    animation: zoom 5s linear infinite;
}
@keyframes zoom
{
   0%{
       transform: scale(1.3);
   }
   15%{
    transform: scale(1);
}
   85%{
    transform: scale(1);
}
   100%{
       transform:  scale(1.3); ;
   }
}
.overlay{
    width: 100%;
    height: 35em;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
}
.btn{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.mission{
    height: 3.5em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 1em 2em 1em 0;
    border-radius: 45px;
}
.mission:hover{
    background-color: var(--bg-black-100);
    color: rgba(0,0,0,1)
}
.btn a{
    color:#fff;
}
.contact-btn{
    height: 3.5em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 1em 0;
    border-radius: 45px;
}
.contact-btn:hover{
    background-color: var(--bg-black-100);
    color: rgba(0,0,0,1);
}



.hero-section2{
    position: relative;
    top: -4.25em;
    left: 0;
    right: 0;
    width: 100%;
    height: 25em;
    overflow: hidden;
  }
.overlay2{
    width: 100%;
    height: 25em;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    justify-content: center;
}

.background{
    width: 100%;
    height: 25em;
    position: absolute;
    background: var(--bg-black-900);
}
.background img{
    width: 100%;
    height: 100%;
    
}

.overlay .section-title{
    padding-top: 4em;
}
.overlay2 .section-title{
    padding-top: 3em;
}

.section-title{
    z-index: 1;
    opacity: 1;
    font-size: 45px;
    font-weight: 900;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 1.25em;
    flex-wrap: wrap;
}

.sub-navigation{
    display: flex;
    justify-content: center;
}
.sub-navigation a{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    margin: .75em 0;
    color: #fff;
}
.sub-navigation a:hover{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.sub-navigation a i{
    font-size: 25px;
}

/*   hero section*/

.home-title{
    text-align: center;
}
.home-title p{
    font-size: 18px;
    font-weight: 600;
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 3em;
}
.home-title h3{
    font-size: 43px;
    line-height: 1.7;
    font-weight: 900;
    text-transform: capitalize;
}
.home-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0;
    flex-wrap: wrap;
}
.info-item{
    flex: 0 0 33%;
    max-width: 32%;
    color: var(--txt-black-100);
}
.info-item-title{
    display: flex;
    align-items: center;
    width: 95%;
    padding: 2.5em 0;
    color: var(--txt-black-900);
}
.title-icon{
    display: flex;
    width: 75px;
    height: 72px;
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
    align-items: center;
    justify-content:center;
    border-radius: 45px 45px 45px 5px;
    margin-left: -.35em;
}
.title-icon .fa{
    font-size: 30px;
    color: var(--txt-black-700);
}
.full span{
    text-align: center;
}
.info-item-title span{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1em;
}

.home-info2-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 5em;
}
.info2-image{
    flex: 0 0 55%;
    max-width: 55%;
    transition: all .3s ease;
    display: flex;
}
.info2-image img{
  width: 100%;
  height: 100%;
  border-radius: 0;
  z-index: 0;
}
.info2-image:hover{
  transform: translateX(-10px);
  transition: all .3s ease;
}
.info2-airticle{
    padding-top: 1.25em;
    max-width: 45%;
    transition: all .5s ease;
}
.info2-airticle:hover{
    transform: translateX(-7.5px);
    transition: all .5s ease;
}
.info2-airticle p{
    font-size:25px;
    font-weight: 900;
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: .5em;
}
.info2-airticle h3{
    font-size: 22px;
    font-weight: 600; 
    margin-bottom: .25em;
}
.info2-airticle span{
    color: var(--txt-black-100);
    font-size: 18px;
}
.info2-airticle ul{
    list-style-image: var(--skin-color);
    margin: 1em 0;
}
.info2-airticle ul li{
    margin: .25em 0;
    font-size: 16px;
}
.btn-about{
    height: 3.5em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black-100);
    border: 2px solid #fd1d1d;
    margin: 1em 0;
    border-radius: 5px;
}
#btn-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 11em;
    font-size: 18px;
    font-weight: 400;
    color: #fd1d1d;
    cursor: pointer;
    transition: all .3s ease;
}
.btn-about:hover{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
    color:#fff;
    transform: translateY(-5px);
    transition: all .5s ease;
}
#btn-about:hover{
    color: #fff;
}
.btn-about:active{
    opacity: .3;
    transition: all .3s ease;
}

.home-article{
    padding: 6em 0;
}
.article-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}
.article{
    max-width: 100%;
    text-align: center;
    transition: all .3s ease;
}
.article:hover{
    transform: scale(1.05);
    transition: all .3s ease;
}
.article span{
    font-size: 16px;
    font-weight: 600;
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.article h3{
    font-size: 47px;
    font-weight: 900;
    color: var(--txt-black-900);
}
.article p{
    font-size: 18px;
    font-weight: 500;
    color: var(--txt-black-100);
    margin-top: .5em;
}

.cards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 13em;
}
.card{
    flex: 0 0 33%;
    max-width: 32%;
    box-shadow: 2px 2px 2px 3px var(--txt-black-500);
    height: 24em;
    text-align: center;
    padding: 1.25em .25em 0;
    transition: all 1s ease;
    margin-bottom: 15px;
}
.card:not(:last-child){
    margin-right: 10px;
}
.card:hover{
    transform: translateY(-7px);
    transition: all .75s ease;
}
.card-icon i{
    font-size: 65px;
    font-weight: 600;
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: .5em;
}
.card h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--txt-black-900);
    margin-bottom: 1.5em;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: var(--txt-black-100);
    margin-bottom: 2em;
}
.card a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--txt-black-900);
}
.card a .fa{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 7.5px;
}
.card a:hover{
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all .3s ease;
}


/* about*/

.about-article{
  padding-top: 5em;
}
.about-cards{
  padding-top: 7em;
}
.about-cards .card{
    box-shadow: none;
}
.about-cards .card:hover{
    box-shadow: 3px 3px 3px 3px var(--txt-black-500);
}
.about-info2-container{
   display: flex;
   justify-content: space-between; 
   align-items: flex-start;
   flex-wrap: wrap;
   flex: 0 0 100%;
   max-width: 100%;
}
.slider{
    max-width: 54%;
    padding: 0 4.5em 0 2.5em;
    box-shadow: 0 0 15px 5px var(--txt-black-500);
}

.container3{
    display: flex;
    flex-wrap: wrap;
    max-width:100%;
    justify-content: center;
}
.container3 input{
    display: none;
}
.slides{
    display: flex;
    max-width: 100%;
    overflow: hidden;
    transition: all .5s ease;
    padding: 1.5em 0;
}
.slide{
    display: flex;
    width: 100%;
    transition: 2s ;
}
.slide img{
width:57em;
}
.slides:hover{
    box-shadow: 0 0 5px 2px var(--txt-black-500);
    transform: translateY(-5px);
    transition: all .5s ease;
}

.navigation-manual{
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 2em;
}
.manual-btn{
    border: 2px solid #fd1d1d;
    padding:5px;
    border-radius:50%;
    cursor:pointer;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
    transition: 1s ease;
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}

.navigation-auto{
 display: flex;
 position: relative;
 top: 14.25px;
 justify-content: center;
}
.navigation-auto div{
    padding: 5px;
    border-radius: 50%;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
}
#about .info2-airticle ul li{
    margin: 1em 0;
}
/* mission*/
#mission{
    padding: 3em 0;
}
.mission-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mission-article{
    flex: 0 0 33%;
    max-width: 33%;
    height: 40em;
    color: var(--txt-black-700);
    text-align: center;
    background: var(--bg-black-900);
}
.mission-article h3{
  font-size: 30px;
  font-weight: 800;
}
.mission-article p{
    font-size: 18px;
    font-weight: 4400;
}
.mission-article img{
    position: relative;
    width: 100%;
    height: 40em;
    padding:0;
}


/* mission*/


/* about*/

/* services*/
#services .section-title{
    padding-top: 4em;
}
.services-title{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    padding: 3em 0;
    z-index:1;
    
}
.services-title h4{
    margin-bottom: 10px;
}
.boxes{
  padding-top: 5em;
}
.boxes-row{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.box-container{
   display: block;
   max-width: 45%;
   height: 100%;
   transition: all .5s ease;
   margin: 0 0 4em;
   border-radius: 15px;
}
.box-container:hover{
    background-color: var(--bg-black-900);
    box-shadow: 3px 3px 3px 3px var(--txt-black-500);
    transform: translateY(-7.5px);
    transition: all .5s ease;
    color: var(--txt-black-700);
    padding: 2em;
}
.box-icon{
    margin-bottom: .5em;
} 
.box-icon .fa{
  font-size: 45px;
  background-color: #fd1d1d;
  background-image:  var(--skin-color2);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: all .3s ease;
}
.box-container h4{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: .5em;

}
.box-container p{
    font-size: 16px;
    font-weight: 500;
}


/* services*/


.contact-container{
    text-align: center;
}
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.contact-subtitle{
    color: var(--txt-black-100);
    text-align: center;
    font-size: 20px;
    margin-bottom: 70px;
}
.row2{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    position: relative;  
    text-align: center;
}
.contact-info{
flex : 0 0 25%;
max-width: 25%;
text-align: center;
margin-bottom: 65px;
}
.contact-info .icon{
    display: flex;
    justify-content: center;
}
.contact-info .icon i{
    font-size :30px; 
    background-color: #fd1d1d;
    background-image:  var(--skin-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}
.socials i:not(:last-child){
   margin-right: 1.5em;
}
.contact-info h4{
font-size: 20px;
font-weight: 700;
color: var(--txt-black-900);
text-transform: capitalize;
margin: 15px 0 5px;
}
.contact-info p{
font-size: 16px;
line-height: 25px;
color: var(--txt-black-100);
font-weight: 500;
}

.contact-form{
    flex: 0 0 100%;
    max-width: 100%;
    }
    .form-item{
        margin-bottom: 30px;
    }
    .form-item .form-control{
        width: 100%;
        height: 60px;
        border-radius: 15px;
        border: 0;
        background: var(--bg-black-100);
        padding: 10px 25px;
        font-size: 18px;
        color: var(--txt-black-900);
        transition: all 0.5s ease ;
    }
    .form-item .form-control:focus{
        box-shadow: 5px 5px 5px 5px var(--txt-black-500);
        transition: all 0.5s ease ;
        transform: translateY(-5px);
    }
    .form-item textarea.form-control{
        height: 140px;
    }
    .contact-form .btn-hire{
        height: 50px;
        padding: 0 50px;
        border: 0;
        font-size: 16px;
        font-weight: 400;
        color: white;
        border-radius: 15px;
        justify-content: center;
        background: var(--back-black-900); 
        background: var(--back-black-100);  
        background: var(--back-black-500);
}
.contact-form .btn-hire:focus{
    box-shadow: 5px 5px 5px 5px var(--txt-black-500);
    opacity: .75;
    transition: all 0.5s ease ;
    transform: translateY(-5px);
}




.section-head{
    font-size: 20px;
    font-weight: 600;
    padding: 3em 2em;
    font-family: 'Merriweather', serif;
}
.section-image{
    font-size: 16px;
    font-weight: 600;
}
.image-container{
    width:100%;
    background: var(--bg-black-100);
    box-shadow: 5px 5px 5px 5px var(--txt-black-500);
    padding: 3em;
    margin-bottom: 3em;
}
.section-image img{
    width: 85%;
}
.section-image img:hover{
    box-shadow: 10px 10px 10px 5px var(--txt-black-500);
}
.image-container{
   display: flex;
   justify-content: center;
}
.section-image p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.section-subhead {
    padding: 2em 0;
}
.section-subhead h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 1em;
}
.section-subhead p{
    font-size: 16px;
    font-weight: 500;

}
.row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.section-info-item{
    display: flex;
    align-items: center;
    padding:7em 0 5em;
    flex: 0 0 32%;
    max-width: 32%;
    color: var(--txt-black-900);
}
.section-info-item span{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1em;
}
.info-icon{
    display: flex;
    width: 75px;
    height: 72px;
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
    align-items: center;
    justify-content: center;
    border-radius: 45px 45px 45px 5px;
    margin-left: -.35em;
}
.info-icon i{
    font-size: 30px;
    color: var(--txt-black-700);
}


.section-item{
    display: block;
    flex: 0 0 45%;
    max-width: 45%;
    padding:0 0 2em;
}
.section-item p{
    font-size: 16px;
    font-weight: 500;
}

#programming .section-info-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0;
    max-width: 100%;
    color: var(--txt-black-900);
}
#programming .row3{
    justify-content: space-evenly;
    padding: 3em;
}



#management .section-info-item{
    padding:3em 0;
}
#management .section-info-item{
    flex : 0 0 50%;
    max-width: 50%;
}
#btn-contact{
    display: flex;
    justify-content: center;
    padding: 3em 0;
}
.btn-contact{
    height: 3.5em;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black-100);
    border: 2px solid #fd1d1d;
    margin: 1em 0;
    padding: .5em;
    border-radius: 5px;
    color: #fd1d1d;
    font-size: 16px;
    font-weight: 400;
}

.btn-contact:hover{
    background: var(--back-black-900); 
    background: var(--back-black-100);  
    background: var(--back-black-500);
    color:#fff;
    transform: translateY(-3px);
    transition: all .5s ease;
}.btn-contact:focus{
    box-shadow: 0 0 5px 5px inset;
    transition: all .5s ease;
}


.footer{
    background: var(--bg-black-900);
    position: absolute;
    padding: 2em;
    left: 0;
    right: 0;
    color: #fff;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.row-item{
    display: block;
    text-align: center;
    flex: 0 0 25%;
    max-width: 24%;
    margin-right: .5em;
    margin-bottom: 2em;
}
.icon-socials{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: 25px;
}
.footer-row1{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: 3em 0;
    padding: 1em 0;
}
.row2-item{
    flex: 0 0 50%;
    max-width: 50;
    font-size: 16px;
}
.row2-item p{
    display: flex;
    justify-content: flex-start;
}
.row-item ul{
    display: inline-block;
    list-style: none;
    text-align: center;
}
.row-item ul li{
   margin: 0 0 .5em ;
}
.row-item ul li a{
  color: var(--txt-black-700);
  font-weight: 400;
}
.row-item ul li a:hover{
  color: #fd1d1d;
}

/*career*/
.available{
    display: flex;
    justify-content: center;
    padding:10em 0;
    transition: all .5s ease;
}
.overlay2 p{
    background: transparent;
    height: 3em;
    width: 24em;
    border: 2px solid #fff;
    border-radius: 45px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
.overlay2 p:hover{
  background: var(--bg-black-100);
  color: #434343;
}
#careers .overlay2 .section-title{
    padding: 1.5em 1em;
    transition: all 1s ease;
}
#careers .hero-section2{
    position: relative;
    top: -4.25em;
    left: 0;
    right: 0;
    width: 100%;
    height: 40em;
    overflow: hidden;
  }
 #careers .overlay2{
    width: 100%;
    height: 45em;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    justify-content: center;
}
#careers .background{
    width: 100%;
    height: 45em;
    position: absolute;
    background: var(--bg-black-900);
}
.animation2 img{
    width: 100%;
    height: 100%;
    animation: zoomin 5s linear infinite;
}
@keyframes zoomin
{
    0%{
        transform: scale(1.3);
    }
    15%{
     transform: scale(1);
 }
    85%{
     transform: scale(1);
 }
    100%{
        transform:  scale(1.3);
    }
}
#careers{
    background: var(--bg-black-200);
}
.career-container h3{
    padding: 0 3em;
    font-size: 25px;
    font-weight: 600;
    color: var(--txt-black-900);
}
.career-article{
    text-align: left;
}
.career-article p{
 padding: 3em 5em 3em 3em ;
 font-size: 20px;
 color: var(--txt-black-900);
}
#careers .btn-contact{
    height: 3em;
    width: 10em;
    border-radius: 25px;
}
.career-img-container{
    width: 100%;
    padding:5em 0 7em;
}
.career-img{
    width: 100%;
    position: relative;
}
.career-img img{
 width: 100%;
 height: 35em;
}
.over-lay{
    width: 100%;
    height: 35em;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.35));
    position: absolute;
    top: 0;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
.over-lay-content{
    text-align: center;
    color: var(--txt-black-700);
    padding: 0 2em;
}
.over-lay h4{
    font-size: 40px;
    font-weight: 800px;
}
.over-lay-content span{
    padding: 1em 0;
    font-size: 23px;
    font-weight: 600;
}
.life-here{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.life-here-content{
    height: 3em;
    width: 11em;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--txt-black-700);
}
.life-here-content:hover{
    background: var(--bg-black-100);
    color: var(--txt-black-900);
    border: 2px solid transparent;
}
.life-here-content span{
    font-size: 18px;
    font-weight: 500;
}
/*career*/